.text_div {
  height: fit-content;
  text-align: center;
}

.link_div {
  @extend .text_div;
  height: 4em;
  margin-top: 2em;
  a {
    color: rgb(0,0,0,0.7)
  }
}

.impressum_div {
  margin-top: -1em;
  padding-top: 2em;
}
