<div class="background impressum_div">
  <div class="text_div">
    <div>
      <p></p>
      <div>Impressum Angaben gemäß § 5 TMG</div>
      <p></p>
      <div>{{name}}</div>
      <div>{{adresse.street}}</div>
      <div>{{adresse.code}} {{adresse.city}}</div>
      <p></p>
      <div>Handelsregister: {{register}}</div>
      <div>Registergericht: {{court}}</div>
      <p></p>
      <div>Vertreten durch: [Vor- und Nachnamen der vertretungsberechtigten Personen]</div>
      <p></p>
      <div>
        {{owner}}
      </div>
      <p></p>
      <div>
        Kontakt:
      </div>
      <div>
        Telefon: {{phonenb}}
      </div>
      <div>
        E-Mail: {{email}}
      </div>
      <p></p>
      <div>
        Verbraucherstreitbeilegung/Universalschlichtungsstelle
      </div>
      <p></p>
      <div>
        Wir nehmen an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil. Zuständig ist
        die Universalschlichtungsstelle des Zentrums für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am
        Rhein (https://www.verbraucher-schlichter.de).
      </div>
      <p></p>
      <div>
        Haftung für Inhalte
      </div>
      <p></p>
      <div>
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
        verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      </div>
      <div>
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
        Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
      </div>
      <p></p>
      <div>
        Haftung für Links
      </div>
      <p></p>
      <div>
        Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
        Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
        verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
        Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar.
        Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
        Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
        umgehend entfernen.
      </div>
      <p></p>
      <div>
        Urheberrecht
      </div>
      <p></p>
      <div>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
        Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
        Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
        Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
      </div>
      <p></p>
    </div>
  </div>
  <div class="link_div">
    <a routerLink="/">zurück</a>
  </div>
</div>
