.header_div {
  @extend .center_grid;
  height: 5em;

  h1 {
    color: white;
  }
}

.tour_div {
  @extend .center_grid;
  height: 20em;

  iframe {
    height: 20em;
    width: 65em;
  }
}
.map_div {
  @extend .center_grid;
  height: 15em;
  margin-top: 5em;

  iframe {
    height: 15em;
    width: 55em;
  }
}

.center_grid {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.adresse_div {
  height: fit-content;
  margin-top: 2em;
  text-align: center;
}

.hours_div {
  @extend .adresse_div;
  height: fit-content;
}

.link_div {
  @extend .adresse_div;
  height: 4em;
  a {
    margin-top: 1em;
    color: rgb(0,0,0,0.7)
  }
}
