<div class="background">
  <div class="header_div">
    <h1>{{name}}</h1>
  </div>
  <div class="tour_div">
    <iframe class="iframe_tour" [src]="safeUrl()" allowfullscreen></iframe>
  </div>
  <div class="map_div">
    <iframe [src]="safeGoogleUrl()" allowfullscreen></iframe>
  </div>
  <div class="adresse_div">
    <div>{{adresse.name}}</div>
    <div>{{adresse.street}}</div>
    <p></p>
    <div>{{adresse.code}}  {{adresse.city}}</div>
    <p></p>
    <p></p>
    <div>Tel: {{phone}}   /    <a href="mailto:{{email}}">Send an Email</a></div>
  </div>
  <div class="hours_div">
    <div>Öffnungszeiten:</div>
    <p></p>
    <div>Montag: {{hours.monday}}</div>
    <p></p>
    <div>Dienstag: {{hours.tuesday}}</div>
    <p></p>
    <div>Mittwoch: {{hours.wednesday}}</div>
    <p></p>
    <div>Donnerstag: {{hours.thursday}}</div>
    <p></p>
    <div>Freitag: {{hours.friday}}</div>
    <p></p>
    <div>Samstag: {{hours.saturday}}</div>
    <p></p>
    <div>Sonntag: {{hours.sunday}}</div>
  </div>
  <div class="link_div">
    <a routerLink="/impressum">Impressum</a>
  </div>
</div>
