/* You can add global styles to this file, and also import other style files */


.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(66, 190, 244, .7) 0%, rgba(241, 249, 255, .7) 100%);
}
